<h2>Вход</h2>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">
        Войти
    </button>
</form>

<hr />

<p>
    Нет аккаунта?
    <a asp-action="Register">Зарегистрироваться</a>
</p>
